{
  "development_mode": false,
  "founders_version": false,
  "special_version_mode": false,
  "appodeal_app_key_android": "",
  "appodeal_app_key_ios": "",
  "one_signal_app_id": "",
  "revenue_cat_api_key_android": "",
  "posthog_api_key": "",
  "feed_back_nest_api_key": "",
  "disabled_firebase_analytics_in_debug_mode": false,
  "posthog_session_replay": false,
  "developer_passcode": "",
  "developer_device_hashes": "",
  "developer_access_store_build": false,
  "privacy_policy_url": "",
  "terms_url": "",
  "app_store_url": ""
}
